# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
crash.log
crash.*.log

# Ansible
*.retry
ansible/.vault_password
ansible/vault_password
*.pem
*.key

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Backup files
*.bak
*.backup

# Secrets (никогда не коммитить!)
credentials.tfvars
*.tfvars
secrets.yml
.env
key.json
*.pem
*.key
ansible/LocalSettings.php

# Binaries
terraform_*.zip
